.bottomSection {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    background: lightsalmon;
    text-align: center;
}
#about{
    width:40%;
    padding-left:2em;
}
#tag{
    width:10%;
}
#contact{
    width:20%;
    padding-right: 2em;
}